server {
    listen 80;
    server_name _;

    root /var/www/wiki.amtgard.com;
    index index.htm index.html index.php;

    add_header Access-Control-Allow-Origin *;
	
	location ~ \.ht {
		deny all;
	}

	location / {
		try_files $uri $uri/ @rewrite;
	}

	location @rewrite {
		rewrite ^/(.*)$ /index.php;
	}

	location ^~ /maintenance/ {
		return 403;
	}

	location ~ \.php$ {
		include /etc/nginx/fastcgi_params;

        fastcgi_pass unix:/var/run/php/php8.1-fpm.sock;
		fastcgi_index index.php;

		fastcgi_param  SCRIPT_FILENAME	$document_root$fastcgi_script_name;

		try_files $uri @rewrite;
	}
    
}